<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards">
	<description>Sniffs for WordPress plugins</description>

	<!-- Exclude the Composer. -->
	<exclude-pattern>/vendor/*</exclude-pattern>

	<!-- Exclude the Node Modules directory. -->
	<exclude-pattern>/node_modules/*</exclude-pattern>

	<!-- Exclude dist directory -->
	<exclude-pattern>/build/*</exclude-pattern>

		<!-- Exclude test directory -->
	<exclude-pattern>/tests/*</exclude-pattern>

	<!-- Exclude minified Javascript files. -->
	<exclude-pattern>*.min.js</exclude-pattern>

  <!-- Configs -->
  <config name="minimum_supported_wp_version" value="4.4" />

  <!-- PHP Rules -->
  <rule ref="PHPCompatibility"/>
	<config name="testVersion" value="5.6-"/>

  <!-- Check all PHP files in directory tree by default. -->
	<arg name="extensions" value="php"/>
	<file>./woo-radio-buttons.php</file>

  <!-- Show sniff codes in all reports -->
  <arg value="ps"/>

  <!-- Wordpress -->
  <rule ref="WordPress-Core" />
	<rule ref="WordPress-Docs"/>
	<rule ref="WordPress.WP.I18n"/>
	<config name="text_domain" value="wrb, woocommerce"/>

  <!-- WooCommerce Rules -->
  <rule ref="WooCommerce-Core" />

	// allow ternary operator
  <rule ref="WordPress.PHP.DisallowShortTernary">
      <exclude-pattern>/*</exclude-pattern>
  </rule>

	<!-- Do not require docblocks for unit tests -->
	<rule ref="Squiz.Commenting.FunctionComment.Missing">
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.FileComment.Missing">
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.ClassComment.Missing">
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.ClassComment.SpacingAfter">
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.FunctionComment.MissingParamTag">
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>
	<rule ref="Generic.Commenting.DocComment.Empty">
    	<exclude-pattern>tests/*</exclude-pattern>
    </rule>
	<rule ref="Generic.Commenting.DocComment.MissingShort">
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.VariableComment.Missing">
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.FunctionCommentThrowTag.Missing">
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>
</ruleset>
